# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm
*.tar.gz
*.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

#apple stuff
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# secret stuff
/githide
/testfiles
